In [12]:
import pandas as pd
pokemon=pd.read_excel(r"C:\Users\Ajay\Desktop\pokemon_data.xlsx")
pokemon  # index_col="Name"  for putting column in top side

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# set_index() and rest_index() methos

In [15]:
pokemon.set_index("Name",inplace=True)  # it is simmilar to index_cols method

KeyError: "None of ['Name'] are in the columns"

In [16]:
pokemon

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,80,110,120,130,90,70,6,True

In [18]:
pokemon.reset_index(drop=False)

,Name,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,3,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,4,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,719,Rock,Fairy,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,719,Rock,Fairy,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,720,Psychic,Ghost,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,720,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,721,Fire,Water,80,110,120,130,90,70,6,True

In [17]:
pokemon.reset_index() # everything is roll back

,Name,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,3,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,4,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,719,Rock,Fairy,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,719,Rock,Fairy,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,720,Psychic,Ghost,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,720,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,721,Fire,Water,80,110,120,130,90,70,6,True

In [19]:
pokemon.set_index("Type 1")  # now in this we lost Name column so slwaasy use rest_index after set_index

,#,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Grass,1,Poison,45,49,49,65,65,45,1,False
Grass,2,Poison,60,62,63,80,80,60,1,False
Grass,3,Poison,80,82,83,100,100,80,1,False
Grass,3,Poison,80,100,123,122,120,80,1,False
Fire,4,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...
Rock,719,Fairy,50,100,150,100,150,50,6,True
Rock,719,Fairy,50,160,110,160,110,110,6,True
Psychic,720,Ghost,80,110,60,150,130,70,6,True
Psychic,720,Dark,80,160,60,170,130,80,6,True
Fire,721,Water,80,110,120,130,90,70,6,True

In [21]:
pokemon.set_index("Type 1" ,inplace=True)

In [22]:
pokemon.reset_index( inplace=True)

In [23]:
pokemon.set_index("Type 2" ,inplace=True)

In [24]:
pokemon  # all lst 3 command is useful  ,we didnt lose Type 1 column becasue we rest before we want to change it to another

,Type 1,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,
Poison,Grass,1,45,49,49,65,65,45,1,False
Poison,Grass,2,60,62,63,80,80,60,1,False
Poison,Grass,3,80,82,83,100,100,80,1,False
Poison,Grass,3,80,100,123,122,120,80,1,False
NaN,Fire,4,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...
Fairy,Rock,719,50,100,150,100,150,50,6,True
Fairy,Rock,719,50,160,110,160,110,110,6,True
Ghost,Psychic,720,80,110,60,150,130,70,6,True
Dark,Psychic,720,80,160,60,170,130,80,6,True
Water,Fire,721,80,110,120,130,90,70,6,True

# .loc() method

In [25]:
pokemon.sort_index(inplace=True)
pokemon.head()  # sorting has been done for column type 1

,Type 1,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,
Bug,Rock,348,75,125,100,70,80,45,3,False
Bug,Rock,347,45,95,50,40,50,75,3,False
Bug,Poison,451,40,50,90,30,55,65,4,False
Dark,Grass,275,90,100,60,90,60,80,3,False
Dark,Poison,452,70,90,110,60,75,95,4,False

In [30]:
# .loc methos can be used with dataframe 
#.loc[] used paranthese to maintain retrivwing data

pokemon.loc["Bug"] # if pandas find Bug more than one then it willprdude datafrmane rather than seriess

,Type 1,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,
Bug,Rock,348,75,125,100,70,80,45,3,False
Bug,Rock,347,45,95,50,40,50,75,3,False
Bug,Poison,451,40,50,90,30,55,65,4,False

In [33]:
pokemon.loc["Bug":"Water"]  # what come in between

,Type 1,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,
Bug,Rock,348,75,125,100,70,80,45,3,False
Bug,Rock,347,45,95,50,40,50,75,3,False
Bug,Poison,451,40,50,90,30,55,65,4,False
Dark,Grass,275,90,100,60,90,60,80,3,False
Dark,Poison,452,70,90,110,60,75,95,4,False
...,...,...,...,...,...,...,...,...,...,...
Water,Ice,363,70,40,50,55,50,25,3,False
Water,Bug,283,40,30,32,50,52,65,3,False
Water,Rock,688,42,52,67,39,56,50,6,False
Water,Rock,138,35,40,100,90,55,35,1,False
Water,Fire,721,80,110,120,130,90,70,6,True

In [35]:
pokemon.loc["Bug":"Water"]

,Type 1,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,
Bug,Rock,348,75,125,100,70,80,45,3,False
Bug,Rock,347,45,95,50,40,50,75,3,False
Bug,Poison,451,40,50,90,30,55,65,4,False
Dark,Grass,275,90,100,60,90,60,80,3,False
Dark,Poison,452,70,90,110,60,75,95,4,False
...,...,...,...,...,...,...,...,...,...,...
Water,Ice,363,70,40,50,55,50,25,3,False
Water,Bug,283,40,30,32,50,52,65,3,False
Water,Rock,688,42,52,67,39,56,50,6,False
Water,Rock,138,35,40,100,90,55,35,1,False
Water,Fire,721,80,110,120,130,90,70,6,True

#  retrive ros by index position with i loc

In [36]:
# iloc stand for index location
pokemon.iloc[12]

Type 1        Water
#               658
HP               72
Attack           95
Defense          67
Sp. Atk         103
Sp. Def          71
Speed           122
Generation        6
Legendary     False
Name: Dark, dtype: object

In [42]:
pokemon.iloc[[12,13]]

,Type 1,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,
Dark,Water,658,72,95,67,103,71,122,6,False
Dark,Ground,551,50,72,35,35,35,65,5,False

# .ix[] method

In [48]:
pokemon.ix["Dark"]
pokemon.loc["Dark"]

C:\Users\Ajay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,Type 1,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,
Dark,Grass,275,90,100,60,90,60,80,3,False
Dark,Poison,452,70,90,110,60,75,95,4,False
Dark,Ghost,442,50,92,108,92,108,35,4,False
Dark,Rock,248,100,134,110,95,100,61,2,False
Dark,Rock,248,100,164,150,95,120,71,2,False
Dark,Poison,435,103,93,67,71,61,84,4,False
Dark,Poison,434,63,63,47,41,41,74,4,False
Dark,Grass,274,70,70,40,60,40,60,3,False
Dark,Ground,552,60,82,45,45,45,74,5,False
Dark,Water,658,72,95,67,103,71,122,6,False
Dark,Ground,551,50,72,35,35,35,65,5,False
Dark,Water,318,45,90,20,65,20,65,3,False
Dark,Water,319,70,120,40,95,40,95,3,False
Dark,Water,319,70,140,70,110,65,105,3,False
Dark,Grass,332,70,115,60,115,60,55,3,False
Dark,Water,342,63,120,85,90,55,55,3,False
Dark,Fighting,675,95,124,78,69,71,58,6,False
Dark,Ground,553,95,117,80,65,70,92,5,False
Dark,Water,130,95,155,109,70,130,81,1,False
Dark,Psychic,720,80,160,60,170,130,80,6,True

In [51]:
pokemon.iloc[12]

Type 1        Water
#               658
HP               72
Attack           95
Defense          67
Sp. Atk         103
Sp. Def          71
Speed           122
Generation        6
Legendary     False
Name: Dark, dtype: object

In [53]:
pokemon.ix[["Dark","Work"]]   # work is incorrect value that wh error

C:\Users\Ajay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

KeyError: "['Work'] not in index"

In [54]:
pokemon.ix[12]

C:\Users\Ajay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Type 1        Water
#               658
HP               72
Attack           95
Defense          67
Sp. Atk         103
Sp. Def          71
Speed           122
Generation        6
Legendary     False
Name: Dark, dtype: object

# second argument in .iloc[] and loc[] and ix[]

In [55]:
pokemon.head(4)

,Type 1,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,
Bug,Rock,348,75,125,100,70,80,45,3,False
Bug,Rock,347,45,95,50,40,50,75,3,False
Bug,Poison,451,40,50,90,30,55,65,4,False
Dark,Grass,275,90,100,60,90,60,80,3,False

In [58]:
pokemon.loc["Bug","Attack"]   # second argumnet is column

Type 2
Bug    125
Bug     95
Bug     50
Name: Attack, dtype: int64

In [60]:
pokemon.loc["Bug","Defense":"Speed"]  # i used colun

        Defense  Sp. Atk  Sp. Def  Speed
Type 2
Bug         100       70       80     45
Bug          50       40       50     75
Bug          90       30       55     65

In [61]:
pokemon.loc["Bug",["Defense","Speed"]]  # i provide list

        Defense  Speed
Type 2
Bug         100     45
Bug          50     75
Bug          90     65

In [62]:
pokemon.iloc[14,2]  # i thnk it work on index i guues
# and we can use list and coluns , just like previous code

45

In [63]:
pokemon.ix[12,"Defense"] # i can mix in this

C:\Users\Ajay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
C:\Users\Ajay\Anaconda3\lib\site-packages\pandas\core\indexing.py:961: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  return getattr(section, self.name)[new_key]

67

# set new value in row and specific cell

In [64]:
pokemon.ix[12]

C:\Users\Ajay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Type 1        Water
#               658
HP               72
Attack           95
Defense          67
Sp. Atk         103
Sp. Def          71
Speed           122
Generation        6
Legendary     False
Name: Dark, dtype: object

In [65]:
pokemon.ix[12,"Attack"]

C:\Users\Ajay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
C:\Users\Ajay\Anaconda3\lib\site-packages\pandas\core\indexing.py:961: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  return getattr(section, self.name)[new_key]

95

In [66]:
pokemon.ix[12,"Attack"]=100

C:\Users\Ajay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [67]:
pokemon.ix[12,"Attack"]  # it worked

C:\Users\Ajay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

100

In [70]:
pokemon.ix[12,["Attack","Generation"]]=[21212,12212]

C:\Users\Ajay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [71]:
pokemon.ix[12,["Attack","Generation"]]   # for modification just provide list in it

C:\Users\Ajay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Attack        21212
Generation    12212
Name: Dark, dtype: object

#  rename column name in panda dataframe

In [72]:
pokemon.rename(columns={"Attack":"Killer"},inplace=True)  # i have used dictionary for rem=naming

In [73]:
pokemon.head()  # name has been chage

,Type 1,#,HP,Killer,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,
Bug,Rock,348,75,125,100,70,80,45,3,False
Bug,Rock,347,45,95,50,40,50,75,3,False
Bug,Poison,451,40,50,90,30,55,65,4,False
Dark,Grass,275,90,100,60,90,60,80,3,False
Dark,Poison,452,70,90,110,60,75,95,4,False

In [74]:
pokemon.rename(index={"Bug":"New bug",
                     "Dark":"new dark"},inplace=True)  # index is chaged

In [75]:
pokemon.head()

,Type 1,#,HP,Killer,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,
New bug,Rock,348,75,125,100,70,80,45,3,False
New bug,Rock,347,45,95,50,40,50,75,3,False
New bug,Poison,451,40,50,90,30,55,65,4,False
new dark,Grass,275,90,100,60,90,60,80,3,False
new dark,Poison,452,70,90,110,60,75,95,4,False

In [76]:
# another wasy to chage column name
pokemon.columns

Index(['Type 1', '#', 'HP', 'Killer', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed',
       'Generation', 'Legendary'],
      dtype='object')

In [77]:
pokemon.columns=['Type 112', '#', 'HP', 'Killer', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed',
       'Generation', 'Legendary']

In [78]:
pokemon.head(12)   # column nameis chaged
# and we need to maintain the order otherwise it will give error
# write column name properly otherwizw incorrect colun name wil be displayed

,Type 112,#,HP,Killer,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,
New bug,Rock,348,75,125,100,70,80,45,3,False
New bug,Rock,347,45,95,50,40,50,75,3,False
New bug,Poison,451,40,50,90,30,55,65,4,False
new dark,Grass,275,90,100,60,90,60,80,3,False
new dark,Poison,452,70,90,110,60,75,95,4,False
new dark,Ghost,442,50,92,108,92,108,35,4,False
new dark,Rock,248,100,134,110,95,100,61,2,False
new dark,Rock,248,100,164,150,95,120,71,2,False
new dark,Poison,435,103,93,67,71,61,84,4,False
new dark,Poison,434,63,63,47,41,41,74,4,False
new dark,Grass,274,70,70,40,60,40,60,3,False
new dark,Ground,552,60,82,45,45,45,74,5,False

# how to delete row and column in dataframe

In [79]:
pokemon.drop("New bug")   # we can aloso provide index value in it

,Type 112,#,HP,Killer,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,
new dark,Grass,275,90,100,60,90,60,80,3,False
new dark,Poison,452,70,90,110,60,75,95,4,False
new dark,Ghost,442,50,92,108,92,108,35,4,False
new dark,Rock,248,100,134,110,95,100,61,2,False
new dark,Rock,248,100,164,150,95,120,71,2,False
...,...,...,...,...,...,...,...,...,...,...
NaN,Dragon,705,68,75,53,83,113,60,6,False
NaN,Dragon,706,90,100,70,110,150,80,6,False
NaN,Ice,712,55,69,85,32,35,28,6,False
NaN,Ice,713,95,117,184,44,46,28,6,False
NaN,Fairy,716,126,131,95,131,98,99,6,True

In [80]:
pokemon.head()

,Type 112,#,HP,Killer,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,
New bug,Rock,348,75,125,100,70,80,45,3,False
New bug,Rock,347,45,95,50,40,50,75,3,False
New bug,Poison,451,40,50,90,30,55,65,4,False
new dark,Grass,275,90,100,60,90,60,80,3,False
new dark,Poison,452,70,90,110,60,75,95,4,False

In [85]:
pokemon.drop(["New bug","new dark"])

,Type 112,#,HP,Killer,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,
Dragon,Steel,483,100,120,120,150,100,90,4,True
Dragon,Flying,714,40,30,35,45,40,55,6,False
Dragon,Flying,715,85,70,80,97,80,123,6,False
Dragon,Poison,691,65,75,90,97,123,44,6,False
Dragon,Dark,633,52,65,50,45,50,38,5,False
...,...,...,...,...,...,...,...,...,...,...
NaN,Dragon,705,68,75,53,83,113,60,6,False
NaN,Dragon,706,90,100,70,110,150,80,6,False
NaN,Ice,712,55,69,85,32,35,28,6,False
NaN,Ice,713,95,117,184,44,46,28,6,False
NaN,Fairy,716,126,131,95,131,98,99,6,True

In [86]:
# for deleting column, we need to use asis to 1 becasue by default it is 0
pokemon.drop("Type 112",axis=1)
# it worked axis="columns"
# for row  axis=0 or axis=rows or axis=index

,#,HP,Killer,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,
New bug,348,75,125,100,70,80,45,3,False
New bug,347,45,95,50,40,50,75,3,False
New bug,451,40,50,90,30,55,65,4,False
new dark,275,90,100,60,90,60,80,3,False
new dark,452,70,90,110,60,75,95,4,False
...,...,...,...,...,...,...,...,...,...
NaN,705,68,75,53,83,113,60,6,False
NaN,706,90,100,70,110,150,80,6,False
NaN,712,55,69,85,32,35,28,6,False
NaN,713,95,117,184,44,46,28,6,False
NaN,716,126,131,95,131,98,99,6,True

In [87]:
# another method is pop()
# no need to use inplace ,it automaticlly save it
# it will delete the result and show as well which mean we can store for future references
killer=pokemon.pop("Killer")

In [88]:
pokemon

,Type 112,#,HP,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,
New bug,Rock,348,75,100,70,80,45,3,False
New bug,Rock,347,45,50,40,50,75,3,False
New bug,Poison,451,40,90,30,55,65,4,False
new dark,Grass,275,90,60,90,60,80,3,False
new dark,Poison,452,70,110,60,75,95,4,False
...,...,...,...,...,...,...,...,...,...
NaN,Dragon,705,68,53,83,113,60,6,False
NaN,Dragon,706,90,70,110,150,80,6,False
NaN,Ice,712,55,85,32,35,28,6,False
NaN,Ice,713,95,184,44,46,28,6,False
NaN,Fairy,716,126,95,131,98,99,6,True

In [89]:
killer

Type 2
New bug     125
New bug      95
New bug      50
new dark    100
new dark     90
           ...
NaN          75
NaN         100
NaN          69
NaN         117
NaN         131
Name: Killer, Length: 800, dtype: int64

In [90]:
# another metho to deleter by using del keyword
del pokemon["HP"]

In [91]:
pokemon  # it worked

,Type 112,#,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,
New bug,Rock,348,100,70,80,45,3,False
New bug,Rock,347,50,40,50,75,3,False
New bug,Poison,451,90,30,55,65,4,False
new dark,Grass,275,60,90,60,80,3,False
new dark,Poison,452,110,60,75,95,4,False
...,...,...,...,...,...,...,...,...
NaN,Dragon,705,53,83,113,60,6,False
NaN,Dragon,706,70,110,150,80,6,False
NaN,Ice,712,85,32,35,28,6,False
NaN,Ice,713,184,44,46,28,6,False
NaN,Fairy,716,95,131,98,99,6,True

# create randam sample

In [94]:
pokemon.sample()  # everytime it will produce diferent row

       Type 112    #  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
Type 2
Dragon    Water  484      100      150      120    100           4       True

In [95]:
pokemon.sample(3)

       Type 112    #  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
Type 2
Flying      Bug  414       50       94       50     66           4      False
Flying    Fairy  468       95      120      115     80           4      False
Fire       Dark  228       30       80       50     65           2      False

In [96]:
pokemon.sample(n=3)

       Type 112    #  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
Type 2
Grass     Ghost  710       70       44       55     41           6      False
NaN       Water  419       55       85       50    115           4      False
NaN      Normal  288       80       55       55     90           3      False

In [97]:
pokemon.sample(frac=0.25)

        Type 112    #  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
Type 2
Fire        Dark  229       90      140       90    115           2      False
NaN        Water  656       40       62       44     71           6      False
Poison     Grass  590       45       55       55     15           5      False
NaN     Fighting  620       60       95       60    105           5      False
NaN     Fighting  297       60       40       60     50           3      False
...          ...  ...      ...      ...      ...    ...         ...        ...
NaN       Normal  242       10       75      135     55           2      False
Rock      Ground  464      130       55       55     40           4      False
NaN         Fire  513       48       53       48     64           5      False
NaN       Dragon  704       35       55       75     40           6      False
NaN        Ghost  356      130       60      130     25           3      False

[200 rows x 8 columns]

In [98]:
pokemon.sample(3,axis=1)  # three randow columns

          Speed Type 112  Sp. Atk
Type 2
New bug      45     Rock       70
New bug      75     Rock       40
New bug      65   Poison       30
new dark     80    Grass       90
new dark     95   Poison       60
...         ...      ...      ...
NaN          60   Dragon       83
NaN          80   Dragon      110
NaN          28      Ice       32
NaN          28      Ice       44
NaN          99    Fairy      131

[800 rows x 3 columns]

# .nsmallest() and nlargest() methd

In [101]:
pokemon.sort_values("Speed" ,ascending=False).head(3)

       Type 112    #  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
Type 2
NaN     Psychic  386       90       95       90    180           3       True
Flying      Bug  291       45       50       50    160           3      False
NaN     Psychic  386       20      180       20    150           3       True

In [102]:
pokemon.nlargest(4,"Defense")  # it provide 4 highest number

       Type 112    #  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
Type 2
Ground    Steel  208      230       55       95     30           2      False
Rock        Bug  213      230       10      230      5           2      False
NaN       Steel  306      230       60       80     50           3      False
Ground    Steel  208      200       55       65     30           2      False

In [103]:
pokemon.nlargest(4,columns="Defense")   # same result

       Type 112    #  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
Type 2
Ground    Steel  208      230       55       95     30           2      False
Rock        Bug  213      230       10      230      5           2      False
NaN       Steel  306      230       60       80     50           3      False
Ground    Steel  208      200       55       65     30           2      False

In [104]:
pokemon.nsmallest(3,columns="Defense")

       Type 112    #  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
Type 2
NaN      Normal  113        5       35      105     50           1      False
NaN      Normal  440        5       15       65     30           4      False
NaN      Normal  242       10       75      135     55           2      False

In [105]:
pokemon["Speed"].nlargest(3) # another way

Type 2
NaN       180
Flying    160
Flying    150
Name: Speed, dtype: int64

# filtering with where method

In [110]:
pokemon=pd.read_excel(r"C:\Users\Ajay\Desktop\pokemon_data.xlsx")
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [113]:
new1=pokemon["Name"]=="Bulbasaur"
pokemon.where(new1)  # where methos print those value in this condition is true and rest of the value will be show in NaN
# we can also use &, or

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1.0,Bulbasaur,Grass,Poison,45.0,49.0,49.0,65.0,65.0,45.0,1.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# .query methd

In [115]:
#.query methos can apllied on dataframe
# it doesnot work with column name which has two name like firatname and lastname
pokemon.query("Name=='Bulbasaur'")  # we can prove diferent quotes

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

In [116]:
pokemon.query("Name !='Bulbasaur'")

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [118]:
pokemon.query("Name !='Bulbasaur' or Name =='Bulbasaur'")    #We can use and ,or  rather than &

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [120]:
pokemon.query("Name in ['Bulbasaur','Charmander'] ")

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [121]:
pokemon.query("Name not in ['Bulbasaur','Charmander'] ")

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# .copy methos

In [ ]:
#copy the series or dartaframe with different location
# whenever we want to work on few column rather than dataframe, we nned to take important column and use coppy method as ell

In [122]:
pokemons=pokemon["Name"].copy()   # creating a new variable with series in it

In [124]:
pokemons[0]="new Bulbasaur"   # aceesing through index

In [126]:
pokemons.head(3)  # it updated

0    new Bulbasaur
1          Ivysaur
2         Venusaur
Name: Name, dtype: object

In [127]:
pokemon.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False