In [1]:
import pandas as pd
pokemon=pd.read_excel(r"C:\Users\Ajay\Desktop\pokemon_data.xlsx")
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

#  .astype() function

In [4]:
# we will convet datatype to another database
# to decrease in memory
# and increase in spped
pokemon["Legendary"].dtype  # for single column
pokemon.dtypes  # for all column

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [5]:
pokemon.info()   # no null value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
#             800 non-null int64
Name          800 non-null object
Type 1        800 non-null object
Type 2        414 non-null object
HP            800 non-null int64
Attack        800 non-null int64
Defense       800 non-null int64
Sp. Atk       800 non-null int64
Sp. Def       800 non-null int64
Speed         800 non-null int64
Generation    800 non-null int64
Legendary     800 non-null bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [10]:
# if my shet has NaN value in it then first i need to remove those null value if i want to convert datatypes
# it only work if my sheet has no null values
# pandas he unique datatypes which is not n pythpn (category)
# use of category is , if we have dupliate value in one column over million row then we can chage therir type to category
# to reduced memory
pokemon["Legendary"].astype("category")

0      False
1      False
2      False
3      False
4      False
       ...
795     True
796     True
797     True
798     True
799     True
Name: Legendary, Length: 800, dtype: category
Categories (2, object): [False, True]

In [11]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
#             800 non-null int64
Name          800 non-null object
Type 1        800 non-null object
Type 2        414 non-null object
HP            800 non-null int64
Attack        800 non-null int64
Defense       800 non-null int64
Sp. Atk       800 non-null int64
Sp. Def       800 non-null int64
Speed         800 non-null int64
Generation    800 non-null int64
Legendary     800 non-null bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [12]:
pokemon["Legendary"]=pokemon["Legendary"].astype("category")

In [13]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
#             800 non-null int64
Name          800 non-null object
Type 1        800 non-null object
Type 2        414 non-null object
HP            800 non-null int64
Attack        800 non-null int64
Defense       800 non-null int64
Sp. Atk       800 non-null int64
Sp. Def       800 non-null int64
Speed         800 non-null int64
Generation    800 non-null int64
Legendary     800 non-null category
dtypes: category(1), int64(8), object(3)
memory usage: 69.8+ KB

In [14]:
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [17]:
pokemon["HP"]=pokemon["HP"].astype("int")
pokemon["Attack"]=pokemon["Attack"].astype("int")
pokemon["Defense"]=pokemon["Defense"].astype("int")
pokemon["Speed"]=pokemon["Speed"].astype("int")

In [18]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
#             800 non-null int64
Name          800 non-null object
Type 1        800 non-null object
Type 2        414 non-null object
HP            800 non-null int32
Attack        800 non-null int32
Defense       800 non-null int32
Sp. Atk       800 non-null int64
Sp. Def       800 non-null int64
Speed         800 non-null int32
Generation    800 non-null int64
Legendary     800 non-null category
dtypes: category(1), int32(4), int64(4), object(3)
memory usage: 57.2+ KB

In [19]:
# memory is changed that very effective
pokemon["HP"].nunique()  # 94 unique value in HP column

94

In [ ]:
pokemon["HP"]=pokemon["HP"].astype("int") # astype has no inplace  attribut to save the chages so thats why we use assignment

#  .sort_values in dataframes

In [20]:
pokemon.sort_values("Name") # i use "by" parameter in name to tell python i need to change ina scending order

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [21]:
# if our dataframes has null values in it then python automatically put in last when we use .sort_values function in it
#we can change to first
pokemon.sort_values("Name",na_position="last")   # this id by dault in pandas
pokemon.sort_values("Name",na_position="first")  # this is wrking but my datafram has no null value 
#thats why it is not showing any updates

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

# .sort_vlaues in multiple coloumn

In [28]:
pokemon.sort_values(["HP","Attack"],ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

In [29]:
pokemon.sort_values(["HP","Attack"],ascending=[False,False]) # same result

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

In [30]:
pokemon.sort_values(["HP","Attack"],ascending=[False,True])  # we can change it

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
487,439,Mime Jr.,Psychic,Fairy,20,25,45,70,90,60,4,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
388,355,Duskull,Ghost,NaN,20,40,90,30,90,25,3,False
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

# .sort_index() method

In [31]:
pokemon.sort_index()  # it will sort in ascending by default

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [50]:
pokemon["new speed"]=pokemon["Speed"].rank().astype("int")
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,new speed
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,191
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,342
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,521
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,521
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,392
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,240
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,738
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,445
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,521
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,445

In [56]:
pokemon["Speed"]=pokemon["Speed"].sort_values(ascending=False)
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,new speed
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,191
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,342
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,521
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,521
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,392
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,240
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,738
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,445
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,521
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,445

In [52]:
pokemon["new speed"]=pokemon["new speed"].sort_values()

In [54]:
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,new speed
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,191
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,342
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,521
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,521
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,392
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,240
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,738
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,445
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,521
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,445

# differnt ways optimization of data fream

In [57]:
# in our dataframe does not have  date  related record but if we have then we can use  function
pd.to_datetime(pokemon["Attack"])   # we change it into datetime

0     1970-01-01 00:00:00.000000049
1     1970-01-01 00:00:00.000000062
2     1970-01-01 00:00:00.000000082
3     1970-01-01 00:00:00.000000100
4     1970-01-01 00:00:00.000000052
                   ...
795   1970-01-01 00:00:00.000000100
796   1970-01-01 00:00:00.000000160
797   1970-01-01 00:00:00.000000110
798   1970-01-01 00:00:00.000000160
799   1970-01-01 00:00:00.000000110
Name: Attack, Length: 800, dtype: datetime64[ns]

In [58]:
# another way to convert to datetime is:
pokemon=pd.read_excel(r"C:\Users\Ajay\Desktop\pokemon_data.xlsx",parse_dates=["Attack"])
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
# we can use category data type in Gender column
# cange their datatypes to int  to reduce size

#  use Filter

In [62]:
pokemon["Type 1"]=="Grass"  # first it will check the condition and will return boolean value

0       True
1       True
2       True
3       True
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Name: Type 1, Length: 800, dtype: bool

In [63]:
pokemon[pokemon["Type 1"]=="Grass"]  # now inside square bracket it eill give data to outside pokemon to see only wich has Grass

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [64]:
pokemon  # previous action is not permanent

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [65]:
# another way to check
new=pokemon["Type 1"]=="Grass"

In [66]:
pokemon[new]  # put another value  in another vaiablr and pass in with pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

# filter  multiple column with AND

In [67]:
# for multiple column check i strongly recommend use variable to store
new=pokemon["Type 1"]=="Grass"
new1=pokemon["Type 2"]=="Poison"

In [68]:
pokemon[new & new1] # True boolean will return

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False

# filter  multiple column with OR

In [69]:
# atleast one condition should be correct , it is not like with AND
pokemon[new | new1]  # row is excedded

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [81]:
new=pokemon["Type 1"]=="Grass"
new1=pokemon["Type 2"]=="Poison"
new3=pokemon["Legendary"]==True

In [82]:
pokemon[(new & new1) & new3 ]  # no result becasue no mattching row 
# i strongly recooment to use variable to do this thing
# bracket will excedute first

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

# isin() method

In [87]:
# when we have multiple cndition to check uase .isin() function
#new=pokemon["Type 1"]=="Grass"
#new1=pokemon["Type 2"]=="Poison"
#new3=pokemon["Legendary"]==True

#rather than writing these conition
new=pokemon["Type 1"].isin(["Grass","Rock"])
pokemon[new]  # focus on one column and put condition in it

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
768,698,Amaura,Rock,Ice,77,59,50,67,63,46,6,False
769,699,Aurorus,Rock,Ice,123,77,72,99,92,58,6,False
773,703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True

In [86]:
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# .isnull() and .notnull() method

In [89]:
mask1=pokemon["Attack"].isnull()  # it return boolean result
pokemon[mask1] # no reult because it will True result but over dataframe does npt have True value thats why

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [90]:
mask1=pokemon["Attack"].notnull()  # it return boolean result
pokemon[mask1] # no value is null hats why

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# .between() method

In [92]:
# if our date is like this 2012-12-12 12:00:00 then we write like this  12:00PM for bwtween method
pokemon[pokemon["Attack"].between(50,60)]  #start and end  and 50 and 60 are included

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
24,19,Rattata,Normal,NaN,30,56,35,25,35,72,1,False
26,21,Spearow,Normal,Flying,40,60,30,31,31,70,1,False
28,23,Ekans,Poison,NaN,35,60,44,40,54,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
765,695,Heliolisk,Electric,Normal,62,55,52,109,94,109,6,False
768,698,Amaura,Rock,Ice,77,59,50,67,63,46,6,False
772,702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
773,703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
774,704,Goomy,Dragon,NaN,45,50,35,55,75,40,6,False

In [93]:
pokemon["Type 1"].duplicated()  # in this keep ="first" by default means it see Grass for first time so thats not duplate but 
#after that it is duplicated means condition is true

0      False
1       True
2       True
3       True
4      False
       ...
795     True
796     True
797     True
798     True
799     True
Name: Type 1, Length: 800, dtype: bool

In [94]:
pokemon["Type 1"].duplicated(keep="last") # noe last occurance of typ1 value is not duplicate and rest is True(Measn duplcate)

0       True
1       True
2       True
3       True
4       True
       ...
795     True
796    False
797     True
798    False
799    False
Name: Type 1, Length: 800, dtype: bool

In [95]:
pokemon["Type 1"].duplicated(keep=False) # measn all are duplcate

0      True
1      True
2      True
3      True
4      True
       ...
795    True
796    True
797    True
798    True
799    True
Name: Type 1, Length: 800, dtype: bool

In [96]:
pokemon["Type 1"].duplicated(keep=True) # it expect first and last and False argument value

ValueError: keep must be either "first", "last" or False

In [ ]:
~pokemon["Type 1"].duplicated(keep=False) # i have put negation symbol at the begining odf command to negate
# if our result is true thenit will produce false

In [97]:
new1=~pokemon["Type 1"].duplicated()
pokemon[new1]  # think for this

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
28,23,Ekans,Poison,NaN,35,60,44,40,54,55,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
32,27,Sandshrew,Ground,NaN,50,75,85,20,30,40,1,False
40,35,Clefairy,Fairy,NaN,70,45,48,60,65,35,1,False
61,56,Mankey,Fighting,NaN,40,80,35,35,45,70,1,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
80,74,Geodude,Rock,Ground,40,80,100,30,30,20,1,False
99,92,Gastly,Ghost,Poison,30,35,30,100,35,80,1,False
133,124,Jynx,Ice,Psychic,65,50,35,115,95,95,1,False
159,147,Dratini,Dragon,NaN,41,64,45,50,50,50,1,False
212,197,Umbreon,Dark,NaN,95,65,110,60,130,65,2,False
223,208,Steelix,Steel,Ground,75,85,200,55,65,30,2,False
702,641,TornadusIncarnate Forme,Flying,NaN,79,115,70,125,80,111,5,True

In [98]:
pokemon.drop_duplicates()  # measn no two rows are same

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# drop_duplicates

In [99]:
pokemon.drop_duplicates(subset=["Type 1"]) # by default keep is first is set

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
28,23,Ekans,Poison,NaN,35,60,44,40,54,55,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
32,27,Sandshrew,Ground,NaN,50,75,85,20,30,40,1,False
40,35,Clefairy,Fairy,NaN,70,45,48,60,65,35,1,False
61,56,Mankey,Fighting,NaN,40,80,35,35,45,70,1,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
80,74,Geodude,Rock,Ground,40,80,100,30,30,20,1,False
99,92,Gastly,Ghost,Poison,30,35,30,100,35,80,1,False
133,124,Jynx,Ice,Psychic,65,50,35,115,95,95,1,False
159,147,Dratini,Dragon,NaN,41,64,45,50,50,50,1,False
212,197,Umbreon,Dark,NaN,95,65,110,60,130,65,2,False
223,208,Steelix,Steel,Ground,75,85,200,55,65,30,2,False
702,641,TornadusIncarnate Forme,Flying,NaN,79,115,70,125,80,111,5,True

In [100]:
pokemon.drop_duplicates(subset=["Type 1","Type 2"]) # work on multiple value

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
778,708,Phantump,Ghost,Grass,43,70,48,50,60,38,6,False
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# .unique() and nunique()

In [101]:
# but firstly .nunique() methid by default has dropna=true , which measn it exclued na value automatically
pokemon["Type 1"].unique()   # it represent array

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [102]:
len(pokemon["Type 1"].unique())

18

In [103]:
pokemon["Type 1"].nunique() # by deafult dropna=True measn if our daaset has NaN value then it will remove automatically
# if NaN is present then output would be 17
#nunique() n repesent number of unique

18